body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .add-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
    text-align: center;
  }
  .przyciski {
    background-color: #28a745; /* Green */
    border: none;
    color: white;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid transparent;
    width: calc(100% - 20px);
    font-size: 18px; /* Adjust font size as needed */
    font-family: Arial, sans-serif; /* Adjust font family as needed */
  }
  
  .przyciski:hover {
    background-color: white;
    color: #28a745;
    border-color: #28a745;
  }
  
  .przyciski::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #28a745;
    transition: width 0.3s;
  }
  
  .przyciski:hover::after {
    width: 100%;
  }
  .add-container input[type="text"],
.add-container input[type="number"],
.add-container input[type="file"],
.add-container label.file-label {
    width: calc(100% - 20px);
    padding: 13px 32px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
  .add-container input[type="file"] {
    display: none; /* Hide the default file input */
}

.add-container label.file-label {
    display: inline-block;
    background-color: #fff;
    color: #555;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-container label.file-label:hover {
    background-color: #f2f2f2;
}
#opis{
    word-wrap: break-word;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}