body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .products {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    text-align: center;
  }

  .products h2 {
    margin-bottom: 20px;
    color: #333;
  }
  .product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  /* .products input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .products input[type="submit"]:hover {
    background-color: #218838;
  } */
  .product .deleteButton{
    width: 150px;
  }
  .control{
    width: 253px;
    height: 50px;
  }
  select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    width: 50px;
    color: #333;
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Style the options within the select element */
option {
    background-color: white;
    color: #333;
}

/* Style the select element when it's focused */
select:focus {
    outline: none; /* Remove default focus outline */
    border-color: #007bff; /* Change border color when focused */
}
h3{
    width: 20%;
}
.photoName{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.actions{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  width: 20%;
}
h3{
  margin: 5px;
}
.hiddenSub{
  display: none;
}
.przyciski {
  background-color: #28a745; /* Green */
  border: none;
  color: white;
  padding: 8px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid transparent;
  width: 150px;/* Adjust font size as needed */
  height: 19;
  font-family: Arial, sans-serif; /* Adjust font family as needed */
}

.przyciski:hover {
  background-color: white;
  color: #28a745;
  border-color: #28a745;
}

.przyciski::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #28a745;
  transition: width 0.3s;
}

.przyciski:hover::after {
  width: 100%;
}
.przyciski.powrot{
  padding: 15px 32px;
  font-size: 18px; 
  margin: 4px 2px;
}