body{
    display: grid;
    font-family: Arial, sans-serif;
    grid-template-columns: 100%;
    grid-template-rows: calc(10vh - 10px) calc(90vh - 10px);
    grid-template-areas: "menu" "main";
    background-color: #f2f2f2;
    margin: 0;
    padding: 10px;
}
#list{
    background-color: #ffffff; /* White background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    padding: 20px; /* Padding inside the tile */
    display: flex;
    margin-top: 20px;
    padding: 50px;
    flex-direction: column;
    position: relative;
    grid-area: main;
    
}
#listContainer{
    gap: 10px;
    overflow-y: auto;
    margin-bottom: 50px;
}
#dodaj{
    position: fixed;
    bottom: 50px;
    right: 50px;
}
.product{
    border-bottom: 1px black solid;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}
.menu{
    position: fixed;
    width: calc(100% - 20px);
    background-color: #f0f0f0;
    z-index: 100;
    height: calc(10vh - 10px)
}
.product .left, .product .right{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.przyciski.notAllowed{
    background-color: #ccc; /* Grey */
  color: #666; /* Dark grey */
  cursor: not-allowed;
}
.przyciski.notAllowed:hover {
    background-color: white;
    color: #666;
    border-color: #666;
  }
  
  .przyciski.notAllowed::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #666;
    transition: width 0.3s;
  }
  
  .przyciski.notAllowed:hover::after {
    width: 100%;
  }